@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
  .button {
    @apply inline-flex items-center justify-center 
        py-1 px-2 
        rounded
        leading-none text-white
        transform-gpu transition-all duration-150
        outline-none ring-0
        disabled:shadow-none
        disabled:translate-y-0
        hover:shadow-lg
        focus:ring
        hover:-translate-y-0.5;
  }

  .button.default {
    @apply bg-gray-500
        ring-gray-500
        hover:bg-gray-700
        focus:bg-gray-700
        focus-visible:bg-gray-700
        disabled:bg-gray-100
        disabled:text-gray-300;
  }

  .button.primary {
    @apply bg-emerald-300
        ring-emerald-300
        hover:bg-emerald-500
        focus:bg-emerald-500
        focus-visible:bg-emerald-500
        disabled:bg-gray-100
        disabled:text-gray-300;
  }

  .button.warn {
    @apply bg-orange-300
        ring-orange-300
        hover:bg-orange-500
        focus:bg-orange-500
        focus-visible:bg-orange-500
        disabled:bg-gray-100
        disabled:text-gray-300;
  }
}
